/* estilo externo */

table {
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
img#uno {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
span#firma {
    font-style: italic;
    float: right;
}

table, th, td {
    border: solid 1px black;
}

body {
    animation: fondo_con 5s;
    animation-iteration-count: 1;
}

@keyframes fondo_con {
    0%{background-color: black;
        color: white;
        }
    100%{background-color: white;
        } 
}

#cursos {
    animation: fondo 5s;
    animation-iteration-count: 1;
}

@keyframes fondo {
    0%{background-color: white;
        }
    100%{background-color: black;
        color: white;
        } 
}

.win {
    /* animation: fondo_noc 0.1s;
    animation-iteration-count: infinite; */

    animation: fondo_noc 1s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 25%;
    width: 50%;
}
@keyframes fondo_noc {
    0%{color: white;
    }
    50%{color: green;
        transform: scale(1.5);
    }
    100%{color: white;
    }
    }

.lose {
    /* animation: fondo_noc 0.1s;
    animation-iteration-count: infinite; */

    animation: fondo_noc2 1s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 25%;
    width: 50%;
}
@keyframes fondo_noc2 {
    0%{color: white;
    }
    50%{color: red;
        transform: scale(1.5);
    }
    100%{color: white;
    }
    }

/* @keyframes fondo_noc {
    0%{background-color: white;
        transition: transform 2s;
        transform: scale(1.2);
        }
    50%{background-color: black;
        color: white;
        transition: transform 2s;
        transform: scale(1);
        }
    100%{background-color: white;
        transition: transform 2s;
        transform: scale(1.2);
        } 
} */

p {
    text-align: justify;
}

aside {
    width: 30%;
    float: right;
    padding-left: 5px;
}

aside ul {
    border: black 1px solid;
    border-radius: 20px;
    word-wrap: break-word;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus{
    transition: transform 2s;
    box-shadow: 0px 0px 25px lightgreen;
    transform: scale(1.2);
}