/* estilo externo */

body {
    background-image: url("../img/bg5.png");
}

#arriba {
    text-align: center;
    border: black solid 1px;
    background: lightgray;
}

.container.head {
    padding: 0;
}

table {
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

img#uno {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

span#firma {
    font-style: italic;
    text-align: center;
}

table,
th,
td {
    border: solid 1px black;
}

.container.cursos {
    color: white;
    animation: fondo 3s;
    animation-iteration-count: 1;
}

@keyframes fondo {
    0% {
        background-color: lightgray;
        color: black;
    }
    100% {
        background-color: transparent;
        color: white;
    }
}

.container.contacto {
    color: white;
}

#pregunta {
    border: black 1px solid;
    padding: 50px;
    text-align: center;
    word-wrap: break-word;
    background: white;
    border-radius: 50px;
}

.win {
    animation: fondo_noc 1s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 37%;
    width: 25%;
}

@keyframes fondo_noc {
    0% {
        color: transparent;
    }
    50% {
        color: green;
        transform: scale(1.5);
    }
    100% {
        color: transparent;
    }
}

.lose {
    animation: fondo_noc2 1s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 37%;
    width: 25%;
}

@keyframes fondo_noc2 {
    0% {
        color: transparent;
    }
    50% {
        color: red;
        transform: scale(1.5);
    }
    100% {
        color: transparent;
    }
}

.fail,
.fail:active {
    animation: fondo_noc3 1s;
    animation-iteration-count: 1;
    position: absolute;
}

@keyframes fondo_noc3 {
    0% {
        color: red;
    }
    50% {
        color: red;
        transform: scale(3);
    }
    100% {
        color: red;
    }
}

p {
    text-align: justify;
}

aside {
    width: 30%;
    float: right;
    padding-left: 5px;
}

aside ul {
    border: black 1px solid;
    border-radius: 20px;
    word-wrap: break-word;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    transition: transform 2s;
    box-shadow: 0px 0px 25px lightgreen;
    transform: scale(1.2);
}

#num {
    color: red;
}

#adivina {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.adivinaste {
    animation: fondo_noc4 2s;
    animation-iteration-count: 1;
}

@keyframes fondo_noc4 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}