/* estilo externo */

table {
    background-color: lightgray;
    width: 40%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
span {
    font-style: italic;
}